body{
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(57, 26, 98),rgb(40, 21, 78));
}

.main{
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(rgb(34, 19, 65),rgb(89, 49, 169),rgb(69, 38, 131));
}
.input-area{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
#TaskInput{
  margin: 5px;
}
#addTaskBtn{
  margin: 5px;
  background-color: rgb(31, 14, 65);
  padding: 3px;
  display: flex;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  
}
li{
  background-color: aliceblue;
  padding: 5px;
}
li:hover{
  background-color: gray;
}

#Tasklist{
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
}

.deletebtn{
  background: black;
  color: aliceblue;
}
